.containerh {
    position: fixed;
    top: 0;
    left: 240px;       
    right: 0;           
    height: 65px;        
    background-color: #f6f4f4;
    color: rgb(80, 56, 56);
    display: flex;
    align-items: center; 
    padding: 20px 30px;
    z-index: 10;         
}


.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}


.containerh svg {
    font-size: 35px;           
    margin-right: 15px;   
}


.header-esq {
    display: flex;       
    align-items: center; 
    gap: 15px;           
}

.containerh h1 {
    font-size: 35px;      
    font-weight: bold;    
    margin: 0;                  
}

.containerh {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.btn-tema {
    background: transparent;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-tema:hover {
    background-color: rgba(0,0,0,0.1);
}


.dark-mode .containerh {
    background-color: #323131; 
    border-bottom: 1px solid #333; 
}


.dark-mode .header-esq h1,
.dark-mode .header-esq svg {
    color: #ffffff;
}